fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
requests
azure-ai-inference
annotated-types
anyio
certifi
charset-normalizer
click
colorama
ecdsa
greenlet
h11
idna
isodate
pyasn1
pydantic
pydantic_core
rsa
six
starlette
typing-inspection
typing_extensions
urllib3
